body {
    margin: 0;
    padding: 20px 15px;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: 400;
}

.stat-container {
    font-size: 18px;
    text-align: center;
}

.stat-container span {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
